@charset "utf-8";


/*
 *Wealth.life landing page template
 *Author : Jitu chauhan
 *
*/

@import "owl.carousel.css";
@import "owl.theme.css";

/*--------------------
	Layout

	*Nav 		/ 	#nav
	*Intro 		/	#intro
	*About 		/	#about
	*Services	/ 	#services
	*Doctor 	/ 	#doctor
						-testimonals
						-client
	==================================
	
	*Contact	/	#contact
						-newsletter
	==================================
	
	*Footer		/   #footer
	
---------------------------------------------*/

/*--------------------------------------------
	 				 COLOR
					 
	  			   primary : color:#30a4ae;
	  				  body :
	h1, h2, h3, h4, h5, h6 : color:#30a4ae;
						 p : color:#6d7376;
						 a : color:#9bb649;
				   a:hover : color:#30a4ae;
				   
--------------------------------------------------------*/

/*--------------------------------------------------------
	  						FONT

	h1, h2, h3, h4, h5, h6 : font-family: 'Asap', sans-serif;
						 p : font-family: 'Asap', sans-serif;
					 ul li : font-family: 'Asap', sans-serif;
				   
--------------------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
/*--------------------
	  general
---------------------*/
body {
	width: 100%;
	height: 100%;
	font-family: 'Asap', sans-serif;
}
html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom:20px;
	margin-top:0px;
	color:#30a4ae;
	font-family: 'Asap', sans-serif;
	letter-spacing:-1px;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:26px;
}
h3 {
	font-size:20px;
}
p {
	font-size:16px;
	line-height:26px;
	color:#6d7376;
	margin-bottom: 30px;
}
a{}
a:hover{text-decoration:none;}
ul {
	margin:0px;
	padding:0px;
}
ul li {
	line-height:26px;
	color:#6d7376;
}
.green-icon i{
	margin-bottom:40px;
}
.green-icon {
	color:#20699c;
}
.green-icon:hover{
	color:#f1703d;
}

.fa-size{ font-size:24px;}
.block {
	margin-bottom:50px;
}
/*--------------------
	  button
---------------------*/

.btn-orange {
	background-color:#f1703d;
	color:#fff;
	padding:10px 23px;
	font-size:16px;
	border: none;
	font-weight: 700;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(220, 85, 32, 0.9);
	-moz-box-shadow:    0px 3px 0px 0px rgba(220, 85, 32, 0.9);
	box-shadow:         0px 3px 0px 0px rgba(220, 85, 32, 0.9);
	text-transform:uppercase;
}
.btn-orange:hover {
	color:#fff;
	background-color:#dc5520;
}
.btn-green {
	background-color: #9bb649;
color: #fff;
padding: 10px 18px;
font-size: 17px;
border: none;
font-weight: 700;
letter-spacing: 1px;
-webkit-box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
-moz-box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
text-transform: uppercase;

}
.btn-green:hover {
	color:#fff;
	background-color:#7d9630;
}
.btn-grey {
background-color: #afb0ad;

color: #fff;
padding: 10px 18px;
font-weight: 700;
font-size: 16px;
border: none;
font-weight: 700;
letter-spacing: 1px;
-webkit-box-shadow: 0px 3px 0px 0px rgba(153, 153, 152, 0.9);
-moz-box-shadow: 0px 3px 0px 0px rgba(153, 153, 152, 0.9);
box-shadow: 0px 3px 0px 0px rgba(153, 153, 152, 0.9);
text-transform: uppercase;
}
.btn-grey:hover {
color: #fff;
background-color: #999998;
}
/******* Buttons *******/

.btn {text-transform: uppercase; font-size: 12px; font-weight: 700; padding: 09px 20px; border-radius: 2px;}
.btn-default{border:1px solid #f1703d; background-color:#f1703d; color: #fff;-webkit-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
-moz-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);}
.btn-default:hover {background-color: #dc5520; color: #fff; border: 1px solid #dc5520;}
.btn-primary {border:1px solid #e9e6e5; background-color:#e9e6e5; color: #b7acac;}
.btn-primary:hover {border:1px solid #de6d64; background-color:#de6d64; color: #fff;}
.btn-sm {padding: 6px 10px; font-size: 12px;}
.btn-lg {padding: 13px 50px; font-size: 16px; }
.btn-link{color: #292d2f; text-transform: uppercase; font-weight: 700;}
.btn-link:hover{color: #dc5520; text-decoration: none;}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

/***************
	nav
***************/
.navbar-nav {
	float: right;
	margin: 0;
}
.navbar-default {
	background-color: #30a4ae;
	border-bottom:1px solid #1e939d;
}
.navbar-brand {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 20px;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size:17px;
	-webkit-font-smoothing: antialiased;
	float:left; text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #4edae6;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #30a4ae;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #2FA3AD;
}
.dropdown-menu {background-color: #fff; border: none; padding: 20px 10px;}
.dropdown-menu>li>a {display: block; padding: 10px 20px; clear: both; line-height: 1.42857143; color: #72736e; white-space: nowrap; font-size: 14px; text-transform: uppercase; letter-spacing: 1px;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {color: #F1703D; text-decoration: none; background-color: transparent;}
/**** Mobile menu *****/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #f1703d;
border-color: #f1703d;
}
.navbar-default .navbar-toggle {
border-color: #30a4ae;
background-color: #30a4ae;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}

.hidden{
	display:none;
}

.social {

}
.social a {
	padding: 10px 5px!important;
	margin-top:3px;
	color: #6d7376;
}
.social a:hover {
	padding: 10px 5px!important;
	margin-top:3px;
	color: #4edae6;
}
.logo {
	font-family: 'Pacifico', cursive;
	font-weight:400;
	text-transform:lowercase;
	color:#fff;
}
.logo-brand {
	font-weight:700;
	color:#fff;
}
/******* General CSS *******/
.main-container {padding-top: 60px; padding-bottom: 100px;}
.listnone {list-style: none; padding-left: 0;}
/******* page header *******/

.page-header {background-color:#f0f1ec; padding-bottom: 200px; padding-top: 240px; margin: 0px; position: relative;background-repeat: none;
	background-attachment: scroll; background-position: center center; -webkit-background-size: cover;
	-moz-background-size: cover; background-size: cover; -o-background-size: cover;}
.page-title {text-align: center; font-size:48px;}
/***************
	intro
***************/
.intro-section {
	padding-top: 100px;
	background: #30a4ae;
	padding-bottom:100px;
}
.intro-caption {
	margin-top:100px;
}
.intro-caption h1{
	color:#fff;
}
.intro-caption p{
	color:#fff;
}
.intro-title {
	font-size:48px;
}
.intro-title span {
	color:#fff;
}
.call-info {
	color:#c4dce9;
	font-weight:700;
	font-size:32px;
	margin-top:30px;
}
.divider{ border-top:#1e939d solid 1px; margin: 60px 0px 60px 0px; display:block;}
/***************
	about
***************/

.about-section {
	padding-top: 120px;
	background: #fff;
	padding-bottom:120px;
}
.about-section h1{
	line-height:48px;
}
.about-section .lead{
	line-height:30px;
	font-size:21px;
	color:#3f403c;
	margin-bottom:30px;
}
.about-section i{
	margin-bottom:15px;
	color:#30a4ae;
	font-size:32px;
}
.block-title {
	margin-bottom:60px;
	text-align: center;
}
.appoinment p {
	margin-bottom:50px;
}
.appoinment strong {
	color:#f1703d;
}
.appoinment-form {
	padding: 30px;
	background-color:#fff;
	border-radius:2px;
	-webkit-box-shadow: 0px 3px 1px 0px rgba(175, 195, 206, 0.9);
	-moz-box-shadow:    0px 3px 1px 0px rgba(175, 195, 206, 0.9);
	box-shadow: 0px 3px 0px 0px rgba(175, 195, 206, 0.9);
}
.date-field{
	width:40% !important;
}
.appoinment-form h2{
	color:#30a4ae;
	margin-bottom:30px;
}
.appoinment-form form .form-group label {
	font-size:16px;
	font-weight:normal;
	margin-bottom:5px;
}
.appoinment-form form .form-group input {
	padding:15px 15px;
	height: 45px;
}
.appoinment-form form .form-group input[type="radio"] {
	padding:15px 15px;
	height: 15px;
}
.btn-Submit {
	margin-top: 15px;
	display: inline-block;
	margin-bottom:5px;
	
}
/***************
	services
***************/

.services-section {
	padding-top: 120px;
	background: #ecf5fa;
	padding-bottom:120px;
}
/*.feature-block {
	text-align:center;
	background-color:#333;
	border-radius:100%;
}
*/
/*.feature-block .green-icon:hover {
	color:#30a4ae;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
}*/
.box-ct{
	margin-top:30px;
}
.box-icon{
	height: 160px;
	width: 160px;
	-moz-border-radius: 35px;
	border-radius: 100%;
	padding: 55px;
	background-color: #fff;
	color: #f1703d;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 15px;
}

.box-icon:hover{
	height: 160px;
	width: 160px;
	-moz-border-radius: 35px;
	border-radius: 100%;
	padding: 55px;
	background-color: #20699c;
	color:#fff;
	text-align: center;
	cursor:pointer;
}
.block:hover .box-icon{
	-moz-border-radius: 35px;
	border-radius: 100%;
	padding: 55px;
	background-color: #30a4ae;
	color:#fff;
	text-align: center;
	cursor:pointer;
}
/***************
	doctor
***************/
.doctor-section {
	padding-top:120px;
	padding-bottom:120px;
}
.doctor-profile {
	margin-top:60px;

}
.doctor-profile img {
	margin-top:-60px;
	width:100%;	
}
.doctor-profile strong {
	color:#f1703d;
	margin-bottom:10px;
	display:block;
}

.bg-profile{ background:#ecf5fa; text-align: center; margin-bottom:20px; -webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;}
.bg-profile:hover{ background-color:#30a4ae; cursor:pointer;}

.testimonials {
	background-color:#ecf5fa;
	padding-top: 80px;
	padding-bottom:80px;
	margin-top: 120px;
}
.testimonials span {
	color:#0e577d;
	font-size:20px;
}
.testimonials span a {
	color:#f1703d;
	font-size:14px;
}
.client {
	padding-top:80px;
}
.client-logo {
	margin-top:30px;
}
.client-logo .item img {
	opacity:0.5
}
.client-logo .item img:hover {
	opacity:1;
	cursor:pointer;
}
.client-circle {
	padding: 8px;
	background: #fff;
	border: 1px solid #ebece8;
}
/****************
	contact
****************/

.contact {
	padding-top:120px;
	padding-bottom:120px;
	background-color:#ecf5fa;
}
.ct-block {
	padding-top: 80px;
	margin-bottom: 80px;
	padding-bottom:70px;
	border-bottom: 1px solid #cfe6e8;
	border-top: #cfe6e8 solid 1px;
	margin-top: 80px;
}
.ct-info {
	text-align:center;
}
.ct-info h3 {
	font-size:30px;
	color:#6d7376;
}
/****************
	newsletter
****************/

.newsletter {
	padding-top:60px;
	padding-bottom:60px;
}
.newsletter .form-control {
	height:46px;
	border-radius: 0px;
	border: 1px solid #bdc8c9;
}
.newsletter .btn-orange {
	padding-left:20px;
	padding-right:20px;
	display: block;
	font-weight:600;
}
/***************
	footer
***************/
.footer {
	background-color:#303335;
}
.social-icon {
	font-size:24px;
	color:#797c7e;
	margin-top:45px;
	margin-right: 25px;
}
.social-icon:hover {
	color:#47b2ed;
}
.ft p {
	font-size:17px;
	color:#797c7e;
	margin-top:45px;
}
/******* Blog *******/

.content-right {margin-bottom: 30px;}
.sidebar {}
.post-block {margin-bottom:60px; border-bottom:1px solid #e4e6dd; padding-bottom:60px;} 
.post-well{}
.post-block p:last-child {margin-bottom: 0px;}
.post-sticky {position: absolute; background: url(../images/sticky.png) no-repeat; right: 50px; width: 38px; height: 60px; top: 0px;}
.post-caption{}
.post-title {line-height: 24px; color:#034b81;}
.post-img {margin-bottom: 30px; position:relative;}
.post-img img {width: 100%;}
.blogslider {}
.blogslider .owl-nav {text-align: center; width: 60px; margin: 0px auto;}
.blogslider .owl-nav i {font-size: 24px; color: #fff;}
.blogslider .owl-prev {position: absolute; top: 40%; left: 5%;}
.blogslider .owl-next {position: absolute; right: 5%; top: 40%;} 
.post-video {}
.share-option{}
#blog-gallery .owl-buttons{display: none;}
 
	/***** Blog Meta *****/

.meta-block{text-transform: uppercase; letter-spacing: 2px; color: #696f74; margin-bottom:30px;}
.post-meta {}
.meta-link{color: #696f74;}
.meta-date, .meta-comment, .meta-author {margin: 0 15px 0px 0px; font-size: 14px; font-weight: 500; color: #696f74;}
.post-meta i{color:#9bb649;}
.meta-date {}
.meta-date .flat-icon {padding-right: 10px; color: #f44421;}
.meta-comment {}
.meta-author {text-transform:uppercase;}
.meta-tag{}


	/***** Blockquote *****/
.post-quote {}
.post-quote blockquote{ text-align:center; background-color:#f9faf6; padding:30px; border-top:1px solid #9bb649;}
blockquote {font-size: 20px; border: none; font-weight: 500; margin: 0px; padding: 10px 0px; line-height:34px;}
blockquote p{margin-bottom:10px;}
.source-name {font-size:16px; font-weight:700;}

 
/******* Blog Details *******/	
	/***** alignment *****/
	
.alignleft {float: left; margin-right:20px; margin-bottom:20px;}
.alignright {float: right; margin-left:20px; margin-bottom:20px;}
.caption {font-size: 16px; background-color: #24dcfd; color: #33393d; padding: 10px; font-weight: 500;}
.share-post{margin-bottom: 20px; padding-bottom: 20px; margin-top: 48px;}

	/***** Related Post *****/

.related-post {margin-bottom: 60px; border-bottom: 1px solid #e4e6dd; padding-bottom: 59px;} 
.related-post-block{}
.related-post-title{margin-bottom:40px;}	
.related-img {margin-bottom: 20px;}
.related-desc{}
.related-title {margin-bottom: 20px;}

	/***** Prev Next Block *****/

.next-prev-block{margin-bottom: 60px;}
.prev-block{border-right:2px solid #e4e6dd;}
.prev-post{}
.prev-post h3, .next-block h3{margin-bottom: 0px;}
.prev-link, .next-link{margin-bottom: 30px; text-transform: uppercase; font-weight: 700; margin-top: 30px; display: inline-block;}
.next-block{}
.next-post{margin-left:15px;}



	/***** Author Post *****/
	
.author-post {margin-bottom: 80px; background-color: #f9faf6; border-bottom:2px solid #afc56d; padding: 30px;}
.author-portrait {}
.author-portrait img {margin: 0 auto;}
.author-info {}
.author-name{}
.social-icon { color: #72736e; font-size: 24px; margin-left: 5px;}	
.social-icon-link{color: #2cbff6;}
 

	/***** Comments *****/
	
.comments-area {margin-bottom:80px; border-bottom: 1px solid #e2e0da; padding-bottom: 50px;}
.comments-title {margin-bottom: 40px;}
.comment-title {margin-bottom: 10px;}
.comment-title span {}
.comment-list {}
.comment-frame {float: left; width: 110px; margin-bottom:30px;}
.comment-frame img {}
.user-comments {margin-left: 130px;}
.comment-body {padding-bottom: 39px; border-bottom: 1px solid #e2e0da; margin-bottom: 40px;}
.comment-body:last-child{padding-bottom: 0px; border-bottom: 0px solid transparent; margin-bottom: 0px;} 
.comment-body p{margin-bottom: 20px;}
.comment-body.listnone {}
.children {}
.leave-comments, .comment-post, .children {display: inline-block;}
.btn-comment{margin-top: 20px;}

	/***** Leave Reply *****/
.leave-reply{margin-bottom: 40px;}
.reply-title{margin-bottom: 35px;}



	/***** Blog sidebar *****/
		/*** Widget ***/


.widget {margin-bottom: 50px;}
.widget ul{margin-bottom: 0px;}
.widget-title {margin-bottom: 30px; border-bottom: 1px solid #e4e6dd; padding-bottom: 29px;}
		
		/*** Widget-Search ***/
		
.widget-search {}
.widget-search .form-control {height: 48px;}
.widget-search .btn{padding: 13px 20px;}

		/*** Widget-Category ***/

.widget-category {}
.widget-category ul li, .widget-archive ul li {margin-bottom:15px;}
.widget-category ul li:last-child, .widget-archive ul li:last-child{margin-bottom:0px;}
		/*** Widget-Archive ***/	
.widget-archive {}
.widget-archive strong {padding-left: 10px;}
		
		/*** Widget-Recent-Post ***/	

.widget-recent-post {}
.widget-recent-post ul li {}
.rec-post-block{margin-bottom:20px;}
.recent-post {}
.recent-post-img {margin-bottom: 10px;}
.recent-post-img img{width:100%;}
.recent-thumb {margin-bottom: 25px;}
.recent-post-desc {margin-bottom: 30px;}
.rec-title{margin-bottom: 15px; color:#1d1f20;}

		/*** Widget-tags ***/
.tags-widget {padding-bottom: 49px; border-bottom: 0px transparent;}
.tags-widget a {margin-bottom: 10px; padding:0px 11px; font-size: 10px; display: inline-block; text-transform: uppercase; color: #989fa2;  font-weight:700;
background-color: #f3f4ef; -webkit-box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);    margin-right: 13px;
    padding: 8px 16px;
	-moz-box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);
	box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);}
.tags-widget a:hover {color: #fff; background-color: #f1703d; -webkit-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
-moz-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);}

/******* pagination *******/

.st-pagination {margin-top: 70px;}
.st-pagination .pagination>li>a, .pagination>li>span {position: relative; float: left; padding: 7px 13px; text-transform: uppercase;
	margin-left: -1px; line-height: 1.42857143; color: #a2a6a9; text-decoration: none; font-size:14px; 
	background-color: #f3f4ef; border:1px solid #f3f4ef; margin-right: 5px; font-weight: 600; border-radius:3px;
	-webkit-box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);
	-moz-box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);
	box-shadow: 0px 3px 0px -1px rgba(230,231,225,0.99);}
.st-pagination .pagination>.active>a, .st-pagination .pagination>.active>a:focus, .st-pagination .pagination>.active>a:hover, .st-pagination .pagination>.active>span, 
.st-pagination .pagination>.active>span:focus, .st-pagination .pagination>.active>span:hover {z-index: 3; color: #fff; cursor: default; 
	background-color: #de6d64; border-color: #de6d64;
	-webkit-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
-moz-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);}
.st-pagination .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {z-index: 2; color: #fff;
background-color: #de6d64; border-color: #de6d64;
-webkit-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
-moz-box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);
box-shadow: 0px 3px 0px -1px rgba(220,85,32,1);}

/******* thank you *******/

.thankyou{padding-top: 100px; padding-bottom: 100px; background-color: #f0f1ec;}
.thankyou-block{padding-bottom:100px; padding-top:100px;}
.thanku-logo{margin-top:90px;}
.thanks-title{font-size:95px; color: #034b81;}
.thanks-desc{color: #9bb649; font-size: 26px;}

 @media(min-width:767px) {
 .navbar {
 padding: 20px 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
 .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
}
}
@media(max-width:767px) {
/****************
	nav
****************/

.navbar-nav {
float: left;
margin: 0;
}
.logo-brand {
font-weight: 700;
font-size: 24px;
margin-top: 12px;
}
/*******************
	intro-section
*******************/

.intro-section {
	background: #f0f1ec;
	padding:0px;
}
.call-info {
color: #afb0ad;
font-weight: 700;
font-size: 28px;
line-height: 35px;
}
.btn-green {
background-color: #9bb649;
color: #fff;
padding: 10px 18px;
font-size: 17px;
border: none;
font-weight: 700;
letter-spacing: 1px;
-webkit-box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
-moz-box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
box-shadow: 0px 3px 0px 0px rgba(125, 150, 48, 0.9);
text-transform: uppercase;
margin-bottom: 20px;
}
/********************
	about-section
********************/

.about-section {
padding-top: 60px;
background: #fff;
padding-bottom: 20px;
text-align:center;
}
.appoinment{
	margin-top:50px;
}
.block {
margin-bottom: 0px;
}
.box-ct{
	text-align:center;
}
/****************
	services
****************/

.services-section {
padding-top: 60px;
background: #f9faf6;
padding-bottom: 20px;
}
.box-icon {
height: 160px;
width: 160px;
-moz-border-radius: 35px;
border-radius: 100%;
padding: 55px;
background-color: #fff;
color: #30a4ae;
text-align: center;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
margin: 0 auto;
}
/****************
	doctor
****************/

.doctor-section {
padding-top: 60px;
padding-bottom: 20px;
}
/*******************
	testimonals
*******************/

.testimonials {
background-color: #f9faf6;
padding-top: 50px;
padding-bottom: 20px;
margin-top: 30px;
text-align:center;
}
.client-circle {
padding: 8px;
background: #fff;
border: 1px solid #ebece8;
margin-bottom: 10px;
margin-top: 10px;
}
/****************
	contact
****************/

.contact {
padding-top: 60px;
padding-bottom: 20px;
background-color: #f9faf6;
}
/****************
	newsletter
****************/

.newsletter {
padding-top: 60px;
padding-bottom: 20px;
}
.newsletter .btn-orange {
padding-left: 20px;
padding-right: 20px;
display: block;
font-weight: 600;
margin-top: 20px;
}
/****************
	footer
****************/

.social-icon {
font-size: 24px;
color: #797c7e;
margin-right: 15px;
padding-bottom: 30px;
}
.errors {
border: 2px solid red;
}